/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('dndbg.png');
    /* Adjust background image properties */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the background image */
    /* Optionally, set a fallback background color */
    background-color: rgba(244, 244, 244, 0.2); /* Opacity set to 0.5 (range: 0 to 1) */
}

.container {
    max-width: 1200px; /* Adjust max-width to fit all columns */
    margin: auto;
    display: flex;
    flex-wrap: nowrap; /* Ensure columns don't wrap */
    
}

.column1,
.column2,
.column3 {
    padding: 0 10px; /* Adjust spacing */
    flex: 0 0 auto; /* Allow columns to shrink and don't grow */
    width: 33.33%; /* Each column takes 1/3 of the container */
}

.column1 select,
.column2 select,
.column3 select,
.column1 input[type="text"],
.column2 input[type="text"],
.column3 input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.column1 button,
.column2 button,
.column3 button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.column1 button:hover,
.column2 button:hover,
.column3 button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

/* Adjust spacing between columns */
.column1:not(:last-child),
.column2:not(:last-child),
.column3:not(:last-child) {
    margin-right: 20px;
}

.label{
    color: #fff;
}
